{% extends "base.html.twig" %}
{% block title %}
	Création d'un article |
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="card w-50 mx-auto p-3">
			<h1 class="text-center">{{ 'article.admin.heading.create'| trans(domain="content")}}</h1>
			{% include 'Backend/Article/_form.html.twig' with  buttonLabel: 'Créer' %}
		</div>
	</div>
{% endblock %}
