{% extends 'base.html.twig' %}

{% block title %}Don index{% endblock %}

{% block body %}
    <h1>Don index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant</th>
                <th>Description</th>
                <th>Users</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for don in dons %}
            <tr>
                <td>{{ don.id }}</td>
                <td>{{ don.montant }}</td>
                <td>{{ don.description }}</td>
                <td>{{ don.users }}</td>
                <td>{{ don.type }}</td>
                <td>
                    <a href="{{ path('app_don_show', {'id': don.id}) }}">show</a>
                    <a href="{{ path('app_don_edit', {'id': don.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_don_new') }}">Create new</a>
{% endblock %}
